{% extends "admin/admin.html" %} {% block title %}Add Employee - My Flask App{%
endblock %} {% block content %}
<div
  class="max-w-3xl mx-auto rounded-3xl bg-slate-900/95 border border-slate-800 p-10 shadow-2xl"
>
  <h2 class="text-4xl font-bold text-white mb-4">Add Employee</h2>

  {% if success %}
  <div class="mb-4 rounded-lg bg-green-900/60 p-4 text-green-100">
    {{ success }}
  </div>
  {% endif %}

  <form action="/add-employee-save" method="post" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
       <div>
        <label class="block text-sm font-medium text-slate-300"
          >Emp id</label
        >
        <input
          type="text"
          name="emp_id"
          required
          class="mt-1 w-full rounded-lg bg-slate-800 border border-slate-700 p-2 text-white"
        />
      </div>
      <div>
        <label class="block text-sm font-medium text-slate-300"
          >Full name</label
        >
        <input
          type="text"
          name="full_name"
          required
          class="mt-1 w-full rounded-lg bg-slate-800 border border-slate-700 p-2 text-white"
        />
      </div>
       
      <div>
        <label class="block text-sm font-medium text-slate-300">Email</label>
        <input
          type="email"
          name="email"
          required
          class="mt-1 w-full rounded-lg bg-slate-800 border border-slate-700 p-2 text-white"
        />
      </div>
      <div>
        <label class="block text-sm font-medium text-slate-300">Phone</label>
        <input
          type="tel"
          name="phone"
          class="mt-1 w-full rounded-lg bg-slate-800 border border-slate-700 p-2 text-white"
        />
      </div>
        <div>
        <label class="block text-sm font-medium text-slate-300">Salary</label>
        <input
          type="number"
          step="0.01"
          name="salary"
          class="mt-1 w-full rounded-lg bg-slate-800 border border-slate-700 p-2 text-white"
        />
      </div>
        <div>
        <label class="block text-sm font-medium text-slate-300">Position</label>
        <input
          type="text"
          name="position"
          class="mt-1 w-full rounded-lg bg-slate-800 border border-slate-700 p-2 text-white"
        />
      </div>
      
      
      
    
    </div>

    <div class="flex items-center justify-end gap-3">
      <input type="submit" value="Register" name="Register" id="Register" class="bg-cyan-500 hover:bg-cyan-400 text-slate-950  py-2 px-6 rounded-2xl transition duration-300 cursor-pointer" />
    </div>
  </form>
</div>
{% endblock %}
