<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Admin - My Flask App{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- include the admin header partial -->
    {% include 'admin/admin-header.html' %}

    <main class="flex-1 bg-slate-950 overflow-auto py-12 px-4 md:px-8">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
